/* cyrillic-ext */
@font-face {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 400;
  src:  url('Roboto-Regular.ttf');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src:  url('Roboto-Light.ttf');
}

p {
    font-family: Roboto;
}

h1 {
    font-family: Roboto;
}

div {
    font-family: Roboto;
}