<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the users page</p>
    <div id='root' ></div>

    <script src="javascripts/common.bundle.js"></script>
    <script src="javascripts/users.bundle.js"></script>
  </body>
</html>