<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='root' page=<%= page %>></div>

    <script src="javascripts/common.bundle.js"></script>
    <script src="javascripts/table.bundle.js"></script>
  </body>
</html>
